{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div class="login-header">
    <img src="{% static 'admin/img/logo-light.webp' %}" alt="LINQ Logo">
    <h2>Welcome Back !</h2>
    <p>Sign in to continue</p>
</div>

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="form-row">
        {{ form.username.errors }}
        <label for="id_username">Email / Username</label>
        {{ form.username }}
    </div>
    <div class="form-row">
        {{ form.password.errors }}
        <label for="id_password">Password</label>
        {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}">
    </div>
    <div class="submit-row">
        <input type="submit" value="Sign In">
    </div>
</form>

<div style="text-align: center; margin-top: 30px; font-size: 11px; color: #878a99;">
    © 2026 Crafted with ❤️ by LINQ
</div>
{% endblock %}
